<form [formGroup]="formGroup" class="container">
  <mat-form-field>
    <mat-label>Search Term</mat-label>
    <input
    matInput
    type="text"
    formControlName="searchTerm"
    class="input"
    autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <input
    matInput
    type="number"
    formControlName="maxResults"
    class="input"
    autocomplete="off">
    <mat-error *ngIf="formGroup.get('maxResults')?.hasError('min') || formGroup.get('maxResults')?.hasError('max')">Max Results must be between 10 and 50.</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="searchTweets(formGroup.get('searchTerm')?.value, formGroup.get('maxResults')?.value)">Refresh</button>
</form>

<h4 *ngIf="mostPopularSource$ | async" class="source">Most Popular Source: {{ mostPopularSource$ | async }}</h4>

<app-display-tweets></app-display-tweets>
